@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity:1;
}

a {
  text-decoration: none;
}

a h5 {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: silver;
}

::-webkit-scrollbar-thumb {
  background: #292f36;
}

::-webkit-scrollbar-thumb:hover {
  background: silver;
}

h1 {
  text-align: center;
  color: #292f36;
  font-family: "Poppins", serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

label,
span {
  text-align: center;
  color: #292f36;
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.new {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-family: "Poppins";
}

.button {
  background-color: #292f36;
  color: white;
  padding: 10px 32px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

h5 {
  color: #292f36;
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.nav_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #292f36;
  font-family: "Poppins", serif;
  font-weight: normal;
  font-style: normal;
}

.btn-primary {
  color: #fff;
  background-color: #292f36;
  border-color: #292f36;
}

.nav,
nav-item {
  border-radius: 10px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 750;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
  z-index: 200;
}

a {
  color: whitesmoke;
}

body {
  background-color: silver;
  margin-left: 10px;
  margin-right: 10px;
}

li a:hover {
  background-color: #3399ff;
  color: aliceblue;
}

.active {
  background-color: #3399ff;
}

.title_image {
    height : 50%
}

body {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.url {
  color: #2c0a0a;
}

.rating {
  display: flex;
  margin-top: -10px;
  flex-direction: row-reverse;
  margin-left: -4px;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 19px;
  font-size: 25px;
  color: goldenrod;
  cursor: pointer;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.yt_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

.content {
  position: relative;
}

.nav_banner {
  background-color: silver;
  background-image: url("https://craig.software/webflix/img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 104px;
}
